# Interfaz gráfica
customtkinter
Pillow

# Automatización de WhatsApp Web
selenium
pyautogui
pyperclip

# Procesamiento de Excel
pandas
openpyxl

# Integración con Outlook (Windows)
pywin32

# Generación de ejecutable
pyinstaller